<div class="min-h-screen bg-gray-100 overflow-x-auto">

  <div class="flex justify-center items-center py-4 min-w-[900px]">

    <div class="bg-white shadow-md flex w-[800px]">

      <div class="flex-[1] bg-blue-600 text-white p-8">

        <h2 class="text-3xl font-semibold mb-4">Login</h2>

        <p class="text-gray-300">
          Get access to your orders, Wishlist and Recommendations
        </p>

        <img
          src="/login-bg.png"
          alt="login_image"
          class="mt-44"
        />

      </div>

      <div class="flex-[1.7] p-8 flex flex-col gap-5">

        <input
          type="email"
          placeholder="Enter Email"
          class="border-b outline-none py-2"
        />

        <input
          type="password"
          placeholder="Enter Password"
          class="border-b outline-none py-2"
        />

        <p class="text-xs text-gray-500">
          By continuing, you agree to Omnibazaar's
          <span class="text-blue-600 cursor-pointer"> Terms of Use</span>
          and
          <span class="text-blue-600 cursor-pointer"> Privacy Policy.</span>
        </p>

        <button
          class="bg-orange-500 text-white py-2 rounded"
          (click)="navigate('/')">
          Login
        </button>

        <p class="text-sm text-center mt-52">
          New to Omnibazaar?
          <span
            class="text-blue-600 cursor-pointer hover:underline"
            (click)="navigate('/register')">
            Create an account
          </span>
        </p>

      </div>

    </div>

  </div>

</div>
